<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  <title>Productos</title>
  <link href="/static/css/app.css" rel="stylesheet">
  <link rel="shortcut icon" href="/static/img/supersaver_logo.png">
</head>
<body>
<header>
  <nav class="navbar navbar-expand-lg navbar-light">
    <a class="navbar-brand mr-5" th:href="@{/}"><img src="/static/img/supersaver_logo.png" class="logo"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" th:href="@{/}">Inicio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" th:href="@{/supermarkets}">Supermercados</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" th:href="@{/products}">Productos</a>
        </li>
      </ul>
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" th:href="@{/logout}">Salir</a>
        </li>
      </ul>
    </div>
  </nav>
</header>
<main>
  <div class="finder-section align-items-center justify-content-center">
    <h2 class="text-center mb-2" th:text="${supermarket.name}">Supermarket Name</h2>
    <p class="text-center mb-2" th:text="${supermarket.location.toString()}">Supermarket Location</p>
    <!--
    <input type="hidden" id="location" th:value="${supermarket.location.city}">
    <div id="map" style="width: 500px; height: 500px;"></div>
    -->
  </div>
  <div class="container-fluid d-flex align-items-center justify-content-center flex-wrap">
    <div th:each="product : ${products}">
      <div class="card m-2 text-center" style="width: 20rem;">
        <h5 class="card-title title-product" th:text="${product.name}">Product</h5>
        <img class="card-img-top card-img-product"  src="/static/img/blank.jpg" alt="Imagen del producto">
        <div class="card-body">
          <h6 class="card-title" th:text="${product.getPriceFormatted()}" style="font-weight: bold;">Price</h6>
          <p class="card-text" th:text="${product.brand}" style="font-size: 0.9rem;">Brand</p>
        </div>
      </div>
    </div>
  </div>
</main>
<footer class="d-flex align-items-center justify-content-center">
  <p>
    <a th:href="@{/}">Inicio</a> |
    <a th:href="@{/contact}">Contacto</a> |
    Copyright &copy; 2023
  </p>
</footer>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB-ry6lvnamz5V_GMo243hVhh6m9xaE1ts&callback=initMap" async defer></script>
<script src="/static/js/mapDraw.js"></script>
</body>
</html>

